<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Currency Exchange</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/controllers/selectController.js"></script>
    <script src="~/App/controllers/resultController.js"></script>
    <script src="~/App/services/currencyService.js"></script>
</head>
<body>
    <div style="margin-left: 5%; margin-right: 5%" ng-app="app">
        <div ng-view></div>
    </div>
</body>
</html>
